/* Page transition animations with Swup */
html.is-changing .transition-swup-fade {
    @apply transition-all duration-100 ease-out;
}
html.is-animating .transition-swup-fade {
    @apply opacity-0 translate-y-1;
}

/* Fade-in animations for components */
@keyframes fade-in-up {
    0% {
        transform: translateY(0.75rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Main components */
.onload-animation {
    opacity: 0;
    animation: 150ms ease-out fade-in-up;
    animation-fill-mode: forwards;
}
#navbar {
    animation-delay: 0ms;
}
#sidebar {
    animation-delay: 20ms;
}
#swup-container {
    outline: none;
}
#content-wrapper {
    animation-delay: var(--content-delay);
}
.footer {
    animation-delay: 50ms;
}
#banner-credit {
    animation-delay: 50ms;
}

/* Post content */
#post-container :nth-child(1) { animation-delay: 0ms }
#post-container :nth-child(2) { animation-delay: 20ms }
#post-container :nth-child(3) { animation-delay: 40ms }
#post-container :nth-child(4) { animation-delay: 60ms }
#post-container :nth-child(5) { animation-delay: 80ms }
#post-container :nth-child(6) { animation-delay: 100ms }


